<!DOCTYPE html>
<html>
<head>
  <title>microblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="container">
	<h1>microblog</h1>
	<div id="mainView">
    <div id="postList">
    postList
    </div>
    <div id="postFull">
    postFull
    </div>
    <div id="postComments">
    postComments
    </div>
  </div>
</div>
</body>
</html>