<!DOCTYPE html>
<html>
<head>
  <title>microblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">microblog</a>
    </div>
  </nav>

<div class="container">
	<div id="mainView">
    <div id="postList">
    </div>
    <div id="postFull">
    postFull
    </div>
    <div id="postTags">
    </div>
    <div id="postComments">
    postComments
    </div>
  </div>
</div>
</body>
</html>